body{
    background: whitesmoke;
}


div{
    border: solid 2px red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#div1{background-color: greenyellow;width: 60%;float: none;}
#div2{background-color: grey;width: 60%;float: none;}
#div3{background-color: hotpink;width: 60%;float: none;}