body{
    background: whitesmoke;
}



.flex-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#div1{
    width: 50%;
}

#div2{
    width: 50%;
}

#div3{
    width: 50%;
}